:root{
    --font-size: 2rem;
    --width: 200px;
    --margin:10px 100px;
    --height: 60px;
    --buttonfont: 1.2rem;
}

.pay-span{
    color:#364b60;
    font-weight: bold;
    font-size: 5rem;
}
.marginLR-40{
    margin: 0px 80px;
}
.header{
    font-size: var(--font-size);
    margin: var(--margin);
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.header-list{
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
}
.header-list>ul{
    margin: 0px 50px;
    list-style: none;
    display: flex;
    color: #8a949e;
    /* flex: 1; */
    justify-content: space-evenly;
}
.header-demo-btn{
    width: var(--width);
    font-size: var(--buttonfont);
    height: var(--height);
    display: flex;
    justify-content: center;
    background-color: #ba4272;
    color: white;
    align-items: center;
    border-radius: 40px;
}
@media screen and (max-width:1500px) {
    :root{
        --font-size: 1rem;
        --width: 170px;
        --height: 42px;
        --buttonfont: 1rem;
    }
    .marginLR-40{
        margin: 0px 40px;
    }
    .pay-span{
        font-size: 3rem;
    }
}
@media screen and (max-width:900px) {
    :root{
        --font-size: .95rem;
        --width: 130px;
        --height: 40px;
        --margin: 10px 15px;
        --buttonfont: .8rem;
    }
    .pay-span{
        font-size: 2rem;
    }
    .marginLR-40{
        margin: 0px 15px;
    }
    .header-list>ul{
        margin: 0px 25px;
    }
}
@media screen and (max-width:500px){
    :root{
        --font-size: .6rem;
        --width: 85px;
        --height: 30px;
        --margin: 10px 5px;
        --buttonfont: .5rem;
    }
    .header-list>ul{
        margin: 0px 10px;
    }
    .marginLR-40{
        margin: 0px 5px;
    }
    .pay-span{
        font-size: 1.1rem;
    }
}