*{
  margin: 0;padding: 0;box-sizing: border-box;
}
:root{
  --wid:1100px;
  --hei:1100px;
}
body{
  background-color: #eef3f9;
}
.absolute-con{
  position: absolute;
  top: -15%;
  z-index: -1;
  right: -10%;
  width: var(--wid);
  height: var(--hei);
  border-radius:50% ;
  background-color: #d2dbe4;
}
.App{
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width:1600px){
  :root{
    --wid:800px;
    --hei:800px;
  }
  .absolute-con{
    top: -20%;
    right: -20%;
  }
}
@media screen and (max-width:900px){
  :root{
    --wid:500px;
    --hei:500px;
  }
  .absolute-con{
    top: -15%;
    right: -10%;
  }
}
@media screen and (max-width:500px){
  :root{
    --wid:300px;
    --hei:300px;
  }
  .absolute-con{
    top: -15%;
    right: -30%;
  }
}